body {
  background-color:lightsteelblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:darkcyan;
  margin: auto;
  padding: 0px 0% 0px 0%;
}

header {
  background-color:beige;
  margin: 1% auto 1% auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 0%;
  height:auto;
}

nav {
  background-color:lightblue;
  margin: auto;
  border-radius: 5% 65% 5% 65%;
  border-style: groove;
  border-color: mediumpurple;
  position: relative;
  margin:5px auto 10px auto;
  padding: 1% 1% 1% 1%;
  width: 44%;
}

.navigation-link {
  background-color:darkblue;
  color:lightseagreen;
  /* margin: auto; */
  /* padding: 0.35em; */
  /* border-style: dotted; */
  /* border-color:cornflowerblue; */
}

.App {
  text-align: center;
  background-color:lightskyblue;
  margin: 8em;
  border: 1em;
  border-radius: 10em 4em;
  border-color: burlywood;
  border-style:groove;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-link {
  color:darkslategray;
}

tr th {
  border: 4px solid #ddd;
  border-color:aliceblue;
  padding: 8px;
  text-align: left;
  background-color: royalblue;
  color:rgb(216, 189, 250);
}

tr td {
  border: 2px solid #ddd;
  padding: 6px;
  text-align: center;
  color: darkblue;
}

tr:nth-child(even){background-color: rgb(138, 209, 211);}
tr:nth-child(odd){background-color: rgb(153, 185, 246);}

tr:hover {background-color:gold;}

input {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Add Exercise Page*/
form.add-exercise {
  display: table;
  border-color:royalblue;
  border-style: double;
  background-color: rgb(214, 214, 245);
  padding:0% 10% 5% 10%;
}

fieldset.add-exercise {
  background-color:lavender;
  border-color: purple;
  border-radius: 10%;
  margin:0% auto 0% auto;
  width: 92%;
}

div.add-exercise {
  display: table-row;
}

div.add-exercise label,
div.add-exercise input,
div.add-exercise select {
  display: table-cell;
  margin-bottom: 10px;
  text-align: left;
}

div.add-exercise label {
  padding-right: 10px;
  text-align: right;
}

form.add-exercise legend {
  font-size:large;
  text-align: left;
}

div.add-exercise input {
  direction: ltr; 
}

div.add-exercise select
{
    right: auto;
    /* padding-right: 40px; */
    padding-right: 151px;
    direction: ltr;
}


/*Edit Exercise Page*/
div.edit-page {
  background-color:rgb(220, 250, 250);
  border-style: dashed;
  border-radius: 10%;
}

div.edit-exercise {
  float: left;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-style: dashed
}

div.edit-exercise input,
div.edit-exercise label {
  display: block;
}

div.edit-exercise label {
  background-color:paleturquoise;
}

div.edit-exercise input,
div.edit-exercise select {
  background-color:khaki;
}

#save-button {
  color:gold;
  padding:0.2em;
  background-color:royalblue;
  font-size:1.4em;

  clear: both; 
  display: block; 
  position: relative;
  margin: 3em auto 10px auto;
  width: 50%;
}

footer {
  background-color:beige;
  width: 75%;
  margin: auto;
  border-radius: 50%;
  border-style:dashed;
}
